<launch>
<node pkg="ophthalmic_control" type="store_node_for_kinematic_model_sim.py" name="store"/>
<node pkg="rosilo_datalogger" type="rosilo_datalogger_node.py" name="rosilo_datalogger"/>

<node pkg="ophthalmic_control" type="unified_kinematic_model_simulation.py" name="model_manipulability"/>

</launch>
