<launch>
<rosparam file="$(find tele_control)/cfg/sss_operator_side_receiver.yaml" command="load" ns="sss_operator_side_receiver"/>
<rosparam file="$(find tele_control)/cfg/sss_patient_side_manager.yaml" command="load" ns="sss_patient_side_manager"/>

<node pkg="sss_operator_side_receiver" type="sss_operator_side_receiver_udp_node" name="sss_operator_side_receiver"/>
<node pkg="sss_patient_side_manager" type="sss_patient_side_manager_node" name="sss_patient_side_manager"/>

<node pkg="tele_control" type="practice_phantom.py" name="practice_phantom"/>

</launch>
